
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* background-color: #24252A; */
}

.container{
    max-width: 1280px;
    margin: auto;
    overflow: hidden;
    /* padding: 0 10%; */
    width: 90%;
}

body{
    font-family: 'Lato', sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: A#edf0f1;
    height: 70px;
    /* position: fixed; */
    /* top: 0; */
    z-index: 1000;
    text-align: center;

    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

.logo{
    cursor: pointer;
    font-size: 1.25rem;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.5rem;
}


.nav-menu li{
    display: inline-block;
    padding: 0px 20px;
    color: #000;
}

.nav-link{
    text-decoration: none;
    color: #000;
    font-weight: 700;
    font-size: 16px;
}

.btn-demo{
    display: inline-block;
    text-decoration: none;
    border: solid 1px;
    padding: 10px 20px;
    border-radius: 5px;
    border-color: #000;
    color: #000;
    font-weight: 700;
    text-align: center;
}

.btn-demo:hover{
    background-color: #000;
    color: #fff;
}

.hero {
    background-color: azure;
    font-size: 16px;
    height: 40em;
    width: 100%;
    display: flex;
    align-items: end;
}

.hero-container{
    margin: 0 auto;
    margin-bottom: 6.25em;
}

.hero-title{
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: start;
    line-height: 1.3;
}

.text{
    margin-bottom: 40px;
    font-size: 1em;
}

.btn-hero{
    display: inline-block;
    text-decoration: none;
    border-radius: 5px;
    border: solid 1px;
    padding: 20px 40px;

}