@use 'variables' as *;

#about {
    padding-top: 30px;
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h1{
            font-size: 40px;
            border-bottom: 1px solid;
            width: 100%;
            text-align: left;
        }
    
        h2{
            padding-top: 20px;
            font-size: 30px;
        }
    
        p{
            padding-top: 20px;  
            text-align: center;
            font-size: 27px;
            line-height: 1.6;
        }
    }

}