body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.btn-blue{
    background: #0b64c5;
    color: white;
}
.btn-blue :hover{
    background: #063970;
    color: white;
}

.text-align{
    text-align: center;
    padding-top: 20px;
}

