@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
  --main-color:#1b264f;
  --second-color:#274690;
  --third-color:#302B27;
  --text-color:#F5F3F5;
  --h1-text: 8em;
  --h2-text: 5em;
  --h3-text: 3em;
  --h4-text: 2rem;
  --p-text: 1rem;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
